langchain
langchain_community
langchain_huggingface
huggingface-hub
tqdm
pandas
transformers
accelerate
pypdf
faiss-cpu
sentence_transformers
bitsandbytes
rapidocr-onnxruntime
peft
datasets
langchain-unstructured 
unstructured-client 
unstructured 
unstructured[pdf]
python-magic
langchain-unstructured[local]
fitz
pytesseract